<h1><%= @bar.name %></h1>
  <p>
    <%= @bar.name %>
    <%= @bar.phone_number %>
    <%= @bar.address %>
    <%= @bar.description %>
    <%= @bar.tv_number %>
    <%= @bar.tournament_size %>
    <%= @bar.offers %>
  </p>

<%= simple_form_for [@bar, @tournament]  do |f| %>
  <%= f.submit "Book this bar and create your tournament!" %>
<% end %>
