  <div class="col-xs-12 col-sm-12 col-md-10 col-md-10-playground">
    <div class="banner-of-91">
      <div class="row row-playground">
        <div class="col-xs-12 col-sm-12 col-md-12 col-md-12-playground">
          <div class="wrapper-to-toggle-calendar" data-pool="final">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6 col-md-offset-3">
                <% @group_games_final.each do |game| %>
                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-5">
                    <%= form_for game.scores.first, remote: true do |f| %>
                    <div class="card-team-left">
                      <div class="card-team-left-image">
                        <% if game.scores.first.player.user.facebook_picture_url %>
                        <% avatar_url = game.scores.first.player.user.facebook_picture_url %>
                        <%= image_tag avatar_url, class: "avatar-small" %>
                        <% elsif game.scores.first.player.club? %>
                        <%= image_tag "#{game.scores.first.player.club}.png", class: "team-photo" %>
                        <% elsif %>
                        <% avatar_url = "http://res.cloudinary.com/dutc7zz18/image/upload/v1496741104/avatar-fake_yuue1t.png" %>
                        <%= image_tag avatar_url, class: "avatar" %>
                        <% end %>
                      </div>
                      <div class="card-team-left-name">
                        <%= game.scores.first.player.user.first_name.capitalize %>
                      </div>
                          <div class="card-team-left-score-def">
                  <%=  game.scores.first.goals %>
                </div>
                <!-- <div class="card-team-left-update-score">
                  <#%= f.button class: "card-team-left-score-validate" do %>
                  <i class="fa fa-check fa-check-playground button-non-active-for-scores" aria-hidden="true"></i>
                  <#% end %>
                </div>
                <div class="card-team-left-score">
                  <#%= f.text_field :goals, class: "card-team-left-score-input" %>
                </div> -->
                    </div>
                    <% end %>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-5 col-md-offset-2">
                    <%= form_for game.scores.last, remote: true do |f| %>
                    <div class="card-team-right">
                     <div class="card-team-right-score-def">
                  <%=  game.scores.last.goals %>
                </div>
                <!-- <div class="card-team-right-score">
                  <#%= f.text_field :goals, class: "card-team-right-score-input" %>
                </div>
                <div class="card-team-right-update-score">
                  <#%= f.button class: "card-team-right-score-validate" do %>
                  <i class="fa fa-check fa-check-playground button-non-active-for-scores" aria-hidden="true"></i>
                  <#% end %>
                </div> -->
                      <div class="card-team-right-name">
                        <%= game.scores.last.player.user.first_name.capitalize %>&nbsp;&nbsp;
                      </div>
                      <div class="card-team-right-image">
                        <% if game.scores.last.player.user.facebook_picture_url %>
                        <% avatar_url = game.scores.last.player.user.facebook_picture_url %>
                        <%= image_tag avatar_url, class: "avatar-small" %>
                        <% elsif game.scores.last.player.club? %>
                        <%= image_tag "#{game.scores.last.player.club}.png", class: "team-photo" %>
                        <% elsif %>
                        <% avatar_url = "http://res.cloudinary.com/dutc7zz18/image/upload/v1496741104/avatar-fake_yuue1t.png" %>
                        <%= image_tag avatar_url, class: "avatar" %>
                        <% end %>
                      </div>
                    </div>
                    <% end %>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-playground">
        <div class="banner-for-toggle-group" data-pool="final">
          <div class="banner-for-final-result">
            <i class="fa fa-trophy" aria-hidden="true"></i>
          </div>
        </div>
      </div>
      <div class="banner-for-toggle-group" data-pool="final">
        <div class="banner-for-final-result">
          <% if @winner %>
             <h1><span style="color: #153243;">CONGRATS</span> <%= @winner.user.first_name.upcase %></h1>
          <% end %>
        </div>
      </div>
      <div class="row row-playground">
        <div class="banner-for-toggle-group" data-pool="final">
          <div class="banner-for-next-step-button">
            <%= link_to "GO TO EIMEET RANKINGS", rankings_path, class: "btn btn-primary button-to-next-step" %>
          </div>
        </div>
      </div>
    </div>
  </div>
























