<label >Which club you will play with?</label>
<select name="league" id="league" class="form-control">
  <option value="LIGUE1">ligue 1</option>
  <option value="PREMIERELEAGUE">Premiere League</option>
</select>

<select name="LIGUE1" id="0" class="clubs form-control">
<% ["Choose your team", "Angers", "Bastia", "Bordeaux", "Caen", "Dijon", "Guingamp", "Lille", "Lorient", "Lyon", "Marseille", "Metz", "Monaco", "Montpellier", "Nancy", "Nantes", "Nice", "Paris-SG", "Rennes", "Saint-Etienne", "Toulouse"].each do |club| %>

<option value="<%= club %>"><%= club %></option>
<% end %>
</select>


<select name="PREMIERELEAGUE" id="1" class="hidden clubs form-control">
<% ["Choose your team", "Arsenal", "Bournemouth", "Burnley", "Chelsea", "CrystalPalace", "Everton", "Hull", "Leicester", "Liverpool", "ManchesterCity", "ManchesterUnited", "Middlesbrough", "Southampton", "Stoke", "Sunderland", "Swansea", "Tottenham", "Watford", "WestBromwichAlbion", "WestHam"].each do |club| %>
<option value="<%= club %>"><%= club %></option>
<% end %>
</select>


<%= simple_form_for [@tournament, @player] do |f| %>


  <%= f.input :club, label: false, input_html: {class: 'hidden', id: 'club_choice'} %>


  <label for="ps4">Bring your PS4?</label>
  <%= f.input :ps4, as: :radio_buttons, label: false, item_wrapper_tag: false, wrapper_html: {class: 'brand-choice'}  %>
  <label for="controller_ps4">Bring controllers?</label>
  <%= f.input :controller_ps4, as: :radio_buttons, collection: 0..4, label: false, item_wrapper_tag: false, wrapper_html: {class: 'controller-choice'}  %>
  <label for="fifa_game_ps4">Bring Fifa?</label>
  <%= f.input :fifa_game_ps4, as: :radio_buttons, collection: 0..2, label: false, item_wrapper_tag: false, wrapper_html: {class: 'fifa-choice'}  %>
  <%= f.submit "JOIN", class: "btn btn-primary btn-primary-update" %>
<% end %>




<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      console.log("coucou")
      $('#league').change(function(){
      var team = $('#league').val();
      console.log(team)

      if (team == 'LIGUE1') {
        $('#1').addClass( "hidden" )
        $('#0').removeClass( "hidden" )
      } else if (team == 'PREMIERELEAGUE') {
      $('#0').addClass( "hidden" )
      $('#1').removeClass( "hidden" )

      }
      });


      $('#0').change(function(){
      var team = $('#0').val();
      $('#club_choice').val(team);
      console.log(team)
    });
    $('#1').change(function(){
      var team = $('#1').val();
      $('#club_choice').val(team);
      console.log(team)
    });

    });
  <% end %>
<% end %>


