<h1>QUARTER MATCHS RESULTS</h1>
<div class="container">
  <% @group_games_quarter.each_with_index do |game, index| %>
    <h2>Match <%= index + 1 %></h2>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-5">
        <%= game.scores.first.player.user.username %>
        <%=  game.scores.first.goals %>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-2">
      VS
      </div>
      <div class="col-xs-6 col-sm-6 col-md-5">
        <%= game.scores.last.goals %>
        <%= game.scores.last.player.user.username %>
      </div>
    </div>
      <% end %>
</div>
