<!-- GROUP -->
<% if @tournament.step == "group" %>

  <% if @tournament.tournament_type == "large" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">ROUND OF 16</h2>
      <h2 class="rounds-title">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "medium"  %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "small" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
  <% end %>

<!-- ROUND OF 16 -->
<% elsif @tournament.step == "round16" %>

  <% if @tournament.tournament_type == "large" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="round16">ROUND OF 16</h2>
      <h2 class="rounds-title">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "medium"  %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "small" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
  <% end %>

<!-- QUARTER-FINALSS -->
<% elsif @tournament.step == "quarter" %>

  <% if @tournament.tournament_type == "large" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="round16">ROUND OF 16</h2>
      <h2 class="pool-title" data-pool="quarter">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "medium"  %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title">QUARTER-FINALS</h2>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "small" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="rounds-title">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
  <% end %>

<!-- SEMI -->
<% elsif @tournament.step == "semi" %>

  <% if @tournament.tournament_type == "large" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="round16">ROUND OF 16</h2>
      <h2 class="pool-title" data-pool="quarter">QUARTER-FINALS</h2>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "medium"  %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="quarter">QUARTER-FINALS</h2>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
    <% elsif @tournament.tournament_type == "small" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="rounds-title">FINAL</h2>
  <% end %>

<!-- FINAL -->
<% elsif @tournament.step == "final" %>

  <% if @tournament.tournament_type == "large" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="round16">ROUND OF 16</h2>
      <h2 class="pool-title" data-pool="quarter">QUARTER-FINALS</h2>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="pool-title" data-pool="final">FINAL</h2>
    <% elsif @tournament.tournament_type == "medium"  %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="quarter">QUARTER-FINALS</h2>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="pool-title" data-pool="final">FINAL</h2>
    <% elsif @tournament.tournament_type == "small" %>
      <h1>GROUPS</h1>
      <% @group_games_pool.each do |group| %>
        <h2 class="pool-title" data-pool="<%= group.first.name %>">GROUP <%= group.first.name %></h2>
      <% end %>
      <h1 style="margin-top: 45px;">ROUNDS</h1>
      <h2 class="pool-title" data-pool="semi">SEMI-FINALS</h2>
      <h2 class="pool-title" data-pool="final">FINAL</h2>
  <% end %>

<% end %>
