<h1>Tournaments</h1>
<% @tournaments.each do |tournament| %>
  <p>
    <%= tournament.user.username %>
    <%= tournament.date %>
    <%= tournament.tournament_type %>
    <%= tournament.bar.name %>
    <%= link_to "See details", tournament_path(tournament) %>
  </p>
<% end %>
