<div class="title-index">
  <h1>Tournaments</h1>
</div>
<div id="filter-to-fix">
  <nav class="top-margin">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
          <div class="row">
            <%= form_tag "", method: :get, class: "form-inline" do %>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="address">
                  <%= text_field_tag :tournament_address, params[:tournament_address], class: "form-control form-control-filter" %>
                </div>
                <div class="input-group date">
                  <%= text_field_tag :date, params[:date], class: "form-control form-control-filter-date" %>
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="players">
                  <%= label_tag :players_8, "8", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_8", false, { value: "8", class: "hidden"}) %>
                  <%= label_tag :players_16, "16", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_16", false, { value: "16", class: "hidden"}) %>
                  <%= label_tag :players_32, "32", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_32", false, { value: "32", class: "hidden"}) %>
                </div>
                <%= button_tag(type: "submit", class: "btn btn-primary btn btn-primary-filter") do %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>











<div class="container container-tournaments">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 no-padding-left no-padding-right">
      <div class="row no-marged-right no-marged-left">
        <% @tournaments.each do |tournament| %>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card-tournament">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path tournament.bar.photo %>');">
              <div class="card-bar">
                <h2><%= tournament.bar.name %></h2>
                <p><%= tournament.bar.address %></p>
              </div>
            </div>
            <div class="card-info">
              <div class="card-info-date">
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;<%= tournament.date %></p>
              </div>
              <div class="card-info-players">
                <p><i class="fa fa-users" aria-hidden="true"></i> &nbsp;<%= tournament.players.count %>/<%= tournament.number_players %></p>
              </div>
              <div class="card-info-facebook">
                <% tournament.players.each do |player| %>
                <% if @friends != nil %>
                <% @friends.first(4).each_with_index do |friend, index| %>
                <div class="friends-<%= index + 1 %>">
                  <% if friend["id"] == player.user.uid %>
                  <% avatar_url = player.user.facebook_picture_url || "http://placehold.it/30x30" %>
                  <%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
                  <% end %>
                </div>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
            <%= link_to "", tournament_path(tournament.id), class: "card-link-tournament" %>
          </div>
        </div>
          <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="row no-marged-right no-marged-left">
        <div class="col-xs-12 col-sm-6 col-md-12">
          <div class="row">
            <%= form_tag "", method: :get, class: "form-inline" do %>
              <div class="hidden-xs col-sm-6 col-md-6 no-padding-left">
                <div class="address">
                  <%= text_field_tag :tournament_address, params[:tournament_address], class: "form-control form-control-filter" %>
                </div>
                <div class="input-group date">
                  <%= text_field_tag :date, params[:date], class: "form-control form-control-filter-date" %>
                  <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                  </div>
                </div>
              </div>
              <div class="hidden-xs col-sm-6 col-md-6 no-padding-right">
                <div class="players">
                  <%= label_tag :players_8, "8", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_8", false, { value: "8", class: "hidden"}) %>
                  <%= label_tag :players_16, "16", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_16", false, { value: "16", class: "hidden"}) %>
                  <%= label_tag :players_32, "32", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                  <%= radio_button_tag(:players, "players_32", false, { value: "32", class: "hidden"}) %>
                </div>
                <%= button_tag(type: "submit", class: "btn btn-primary btn btn-primary-filter") do %>
                  <i class="fa fa-check" aria-hidden="true"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12 no-marged-right no-marged-left">
          <div id="map" style="width: 100%; height: 200px;"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length >= 1) {
          handler.map.centerOn(<%= Geocoder.coordinates(@address) %>);
          handler.getMap().setZoom(<%= @zoom %>);
        }
      });
    });
  </script>
<% end %>
