<div class="title-index">
  <h1>Tournaments</h1>
</div>

<div class="container container-tournaments fixed">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8 no-padding-left no-padding-right authorize-scroll">
      <div class="row no-marged-right no-marged-left">
        <% @tournaments.each do |tournament| %>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="card-tournament" id="tournament-<%= tournament.bar.id %>-details">
            <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path tournament.bar.photo %>');">
              <% avatar_url = tournament.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar card-image-avatar" %>
              <div class="card-bar">
                <h2>Organized by <span class="username-card"><%= tournament.user.username %></span></h2>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<%= tournament.bar.name %></p>
              </div>
            </div>
            <%= render "shared/progress-bar", tournament: tournament %>
            <div class="card-info">
              <div class="card-info-date">
                <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;<%= tournament.date %></p>
              </div>
              <div class="card-info-players">
                <p><i class="fa fa-users" aria-hidden="true"></i> &nbsp;<%= tournament.players.count %>/<%= tournament.number_players %></p>
              </div>
              <div class="card-info-facebook">
                <% tournament.players.each do |player| %>
                <% if @friends != nil %>
                <% @friends.first(4).each_with_index do |friend, index| %>
                <div class="friends-<%= index + 1 %>">
                  <% if friend["id"] == player.user.uid %>
                  <% avatar_url = player.user.facebook_picture_url || "http://placehold.it/30x30" %>
                  <%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
                  <% end %>
                </div>
                <% end %>
                <% end %>
                <% end %>
              </div>
            </div>
            <%= link_to "", tournament_path(tournament.id),id: "#{tournament.bar.id}", class: "card-link-tournament" %>
          </div>
        </div>
          <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="row no-marged-right no-marged-left">
        <div class="col-xs-12 col-sm-6 col-md-12">
        <div class="row">
            <%= form_tag "", method: :get, class: "form-inline" do %>
            <div class="hidden-xs col-sm-6 col-md-6 no-padding-left">
              <div class="address">
                <%= text_field_tag :tournament_address, params[:tournament_address], class: "form-control form-control-filter" %>
              </div>
              <div class="input-group date">
                <%= text_field_tag :date, params[:date], class: "form-control form-control-filter-date" %>
                <div class="input-group-addon">
                  <span class="glyphicon glyphicon-th"></span>
                </div>
              </div>
            </div>
            <div class="hidden-xs col-sm-6 col-md-6 no-padding-right">
              <div class="players">
                <%= label_tag :players_8, "8", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                <%= radio_button_tag(:players, "8", false, { value: "8", class: "hidden"}) %>
                <%= label_tag :players_16, "16", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                <%= radio_button_tag(:players, "16", false, { value: "16", class: "hidden"}) %>
                <%= label_tag :players_32, "32", class: "btn-primary number-players-button form-inline toggle-button-filter" %>
                <%= radio_button_tag(:players, "32", false, { value: "32", class: "hidden"}) %>
              </div>
              <%= button_tag(type: "submit", class: "btn btn-primary btn btn-primary-filter") do %>
              <i class="fa fa-check" aria-hidden="true"></i>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 no-marged-right no-marged-left">
          <div id="map" style="width: 100%; height: calc(100vh - 230px);"></div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <script>
    $(document).ready(function() {
      var styles = [{
        "featureType": "water",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#404E5C"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "landscape",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 17
            }
        ]
    },
    {
        "featureType": "road.highway",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#A92222"
            },
            {
                "lightness": 29
            },
            {
                "weight": 0.2
            }
        ]
    },
    {
        "featureType": "road.arterial",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 18
            }
        ]
    },
    {
        "featureType": "road.local",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "featureType": "poi",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f5f5f5"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "featureType": "poi.park",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#dedede"
            },
            {
                "lightness": 21
            }
        ]
    },
    {
        "elementType": "labels.text.stroke",
        "stylers": [
            {
                "visibility": "on"
            },
            {
                "color": "#ffffff"
            },
            {
                "lightness": 16
            }
        ]
    },
    {
        "elementType": "labels.text.fill",
        "stylers": [
            {
                "saturation": 36
            },
            {
                "color": "#A92222"
            },
            {
                "lightness": 40
            }
        ]
    },
    {
        "elementType": "labels.icon",
        "stylers": [
            {
                "visibility": "off"
            }
        ]
    },
    {
        "featureType": "transit",
        "elementType": "geometry",
        "stylers": [
            {
                "color": "#f2f2f2"
            },
            {
                "lightness": 19
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.fill",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 20
            }
        ]
    },
    {
        "featureType": "administrative",
        "elementType": "geometry.stroke",
        "stylers": [
            {
                "color": "#fefefe"
            },
            {
                "lightness": 17
            },
            {
                "weight": 1.2
            }
        ]
    }]


      var handler = Gmaps.build('Google');
      handler.buildMap({
        provider: {
          styles: styles
        },
        internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);

        _.each(<%= raw @hash.to_json %>, function(json, index){
          var marker = markers[index];
          $("#" + json.id).on('mouseenter', function() {
            marker.getServiceObject().setAnimation(google.maps.Animation.BOUNCE);
          });
          $("#" + json.id).on('mouseleave', function() {
            marker.getServiceObject().setAnimation(null);
          });
        });

        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length >= 1) {
          //handler.map.centerOn();
          handler.getMap().setZoom(<%= @zoom %>);
        }
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();

      });
    });
  </script>
<% end %>
