<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="title-index">
        <h1>Tournaments</h1>
      </div>

      <div class="container-de-secours">
        <div class="fixed-form">
          <%= form_tag "", method: :get, class: "form-group" do %>
          <div class="number-players">
          <div class="number-players-container-button">
            <%= label_tag :players_8, "8", class: "number-players-button form-inline" %>
            <%= radio_button_tag(:players, "players_8", false, { value: "8", class: "hidden"}) %>
            <%= label_tag :players_16, "16", class: "number-players-button form-inline" %>
            <%= radio_button_tag(:players, "players_16", false, { value: "16", class: "hidden"}) %>
            <%= label_tag :players_32, "32", class: "number-players-button form-inline" %>
            <%= radio_button_tag(:players, "players_32", false, { value: "32", class: "hidden"}) %>
          </div>
          <div class="address-of-bars">
           <%= text_field_tag :tournament_address, params[:tournament_address], class: "form-control" %>
         </div>
         <div class="date-of-tournament">
          <%= text_field_tag :date, params[:date], class: "form-control" %>
        </div>
        <div class="submit-form">
          <%= submit_tag "Submit", class: 'btn btn-primary' %>
        </div>
      </div>
        <% end %>
    </div>





      <% @tournaments.each do |tournament| %>
      <div class="card-tournament">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path tournament.bar.photo %>');">
          <div class="card-bar">
            <h2><%= tournament.bar.name %></h2>
            <p><%= tournament.bar.address %></p>
          </div>
        </div>
        <div class="card-info">
          <div class="card-info-date">
            <p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;<%= tournament.date %></p>
          </div>
          <div class="card-info-players">
            <p><i class="fa fa-users" aria-hidden="true"></i> &nbsp;<%= tournament.players.count %>/<%= tournament.number_players %></p>
          </div>
          <div class="card-info-facebook">
            <% tournament.players.each do |player| %>
            <% if @friends != nil %>
            <% @friends.first(4).each_with_index do |friend, index| %>
            <div class="friends-<%= index + 1 %>">
              <% if friend["id"] == player.user.uid %>
              <% avatar_url = player.user.facebook_picture_url || "http://placehold.it/30x30" %>
              <%= image_tag avatar_url, class: "avatar dropdown-toggle" %>
              <% end %>
            </div>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>
        <%= link_to "", tournament_path(tournament.id), class: "card-link-tournament" %>
      </div>
      <% end %>
      <div id="map" style="width: 100%; height: 200px;"></div>
    </div>
  </div>
</div>






<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length >= 1) {
          handler.map.centerOn(<%= Geocoder.coordinates(@address) %>);
          handler.getMap().setZoom(<%= @zoom %>);
        }
      });
    });
  <% end %>
<% end %>
