<!-- ___________________________________POOL____________________________________________________________-->
<h1>RANKING</h1>

<% @list_all_players.each do |pool_sort| %>
  <% pool_sort.each_with_index do |player, index| %>
    <%= index + 1 %> /// <%= player.user.username %> : Pts: <%= player.points %> | Diff: <%= player.diff %> | BP <%= player.bp %> | BC <%= player.bc %><br/>
  <% end %>
<% end %>

<h1>POOL MATCHS</h1>

<div class="container">
  <% @group_games.each do |group| %>
    <h2>Pool <%= group.first.name %></h2>
      <div class="row">
          <% group.each do |game| %>
        <div class="col-xs-6 col-sm-6 col-md-5">
            <%= form_for game.scores.first do |f| %>
              <%= game.scores.first.player.user.username %>
              <%= f.text_field :goals %>
              <%= f.submit %>
            <% end %>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-2">
          VS
        </div>
        <div class="col-xs-6 col-sm-6 col-md-5">
          <%= form_for game.scores.last do |f| %>
            <%= f.submit %>
            <%= f.text_field :goals %>
            <%= game.scores.last.player.user.username %>
          <% end %>
        </div>
        <% end %>
      </div>
        <% end %>
</div>
