<div class="container container-playground" data-current-selection="<%= @tournament.step %>">
  <div class="row row-playground">
    <div class="col-xs-12 col-sm-12 col-md-2 col-md-2-playground">
      <%= render "side_bar" %>
    </div>
    <!-- GROUPS -->
    <% if @tournament.step == "group" %>
      <%= render "pool_ongoing" %>

    <!-- ROUND 16 -->
    <% elsif @tournament.step == "round16" %>
      <%= render 'pool_results'  %>
      <%= render 'round16_ongoing' %>

    <!-- QUARTERS -->
    <% elsif @tournament.step == "quarter" %>
      <%= render 'pool_results'  %>
      <% if @tournament.tournament_type == "large" %>
        <%= render 'tournaments/round16_results'  %>
      <% end %>
      <%= render 'tournaments/quarter_ongoing' %>


    <!-- SEMI -->
    <% elsif @tournament.step == "semi" %>
      <%= render 'pool_results'  %>
      <% if @tournament.tournament_type == "large" %>
        <%= render 'tournaments/round16_results'  %>
      <% end %>
      <% if @tournament.tournament_type == "large" || @tournament.tournament_type == "medium" %>
        <%= render 'tournaments/quarter_results'  %>
      <% end %>
      <%= render 'semi_ongoing' %>


    <!-- FINAL -->
    <% elsif @tournament.step == "final" && @tournament.status == "ready" %>
      <%= render 'pool_results'  %>
      <% if @tournament.tournament_type == "large" %>
        <%= render 'tournaments/round16_results'  %>
      <% end %>
      <% if @tournament.tournament_type == "large" || @tournament.tournament_type == "medium" %>
        <%= render 'tournaments/quarter_results'  %>
      <% end %>
      <%= render 'semi_results' %>
      <%= render 'final_ongoing' %>

    <!-- PAST -->
    <% elsif @tournament.status == "past" %>
      <%= render 'pool_results'  %>
      <% if @tournament.tournament_type == "large" %>
        <%= render 'tournaments/round16_results'  %>
      <% end %>
      <% if @tournament.tournament_type == "large" || @tournament.tournament_type == "medium" %>
        <%= render 'tournaments/quarter_results'  %>
      <% end %>
      <%= render 'semi_results' %>
      <%= render 'final_results' %>
    <% end %>
  </div>
</div>


