

<!-- Banner -->
<div class="banner-show-tournament" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path @tournament.bar.photo %>; background-size: cover')">
  <div class="banner-content">
    <h1><%= @tournament.user.username %>'s tournament</h1>
    Organized by <%= @tournament.user.username %></br>
    <i class="fa fa-clock-o" aria-hidden="true"></i>  <%= @tournament.date %>&nbsp;&nbsp;&nbsp;
    <i class="fa fa-map-marker" aria-hidden="true"></i> <%= @tournament.bar.name %></br></br>
    Info tournament</br>
    <i class="fa fa-users" aria-hidden="true"></i> &nbsp; <%= @tournament.number_players %> &nbsp; players(<%= @tournament.tournament_type %>)</br>
    <% if @remaining == 0 && Player.where(tournament: @tournament, user: current_user).exists? == false %>
      This tournament is full, sorry!
    <% elsif @remaining == 0 && Player.where(tournament: @tournament, user: current_user).exists? %>
      Your tournament is full : Good Game !
    <% elsif @remaining != 0 && Player.where(tournament: @tournament, user: current_user).exists? %>
      <%= @remaining %> spot(s) remaining to play
    <% elsif @remaining != 0 && Player.where(tournament: @tournament, user: current_user).exists? == false %>
      The registration for this tournament is open </br></br>
       <!-- BUTTON JOIN IF THE PLAYER IS NOT IN THE TOURNAMENT -->
       <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#join-modal">Join</button> </br> <%= @remaining %> spot(s) remaining to play !
    <% end %></br></br></br>

    <!-- GOOGLE MAP -->
    <div class="map-position" id="map" style="width: 100%; height: 120px;"></div>
    <% content_for(:after_js) do %>
      <%= javascript_tag do %>
        $(document).ready(function() {
          var handler = Gmaps.build('Google');
          handler.buildMap({ internal: { id: 'map' } }, function() {
            markers = handler.addMarkers(<%= raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            if (markers.length == 0) {
              handler.getMap().setZoom(2);
            } else if (markers.length == 1) {
              handler.getMap().setZoom(14);
            }
          });
        });
      <% end %>
    <% end %>
  </div>
</div>

<!-- LIST ALL STUFF NEEDED OR NOT IN THE TOURNAMENT -->
<div class="container">
    <% if  @remaining_console_ps4 == 0 && @remaining_controllers == 0 &&  @remaining_fifa_game == 0 %>
    <p>You have all stuff </p>
    <% else %>
      <p>
        Stuff Needed </br>
        <%= @remaining_console_ps4 %> <%= image_tag "console2.png", class: "icon"%>&nbsp;&nbsp;
        <%= @remaining_controllers %> <%= image_tag "manette.png", class: "icon"%>&nbsp;&nbsp;
        <%= @remaining_fifa_game %> <%= image_tag "fifa.png", class: "icon"%> </p>


      </p>
        <!-- BUTTON UPDATE IF THE PLAYER IS IN THE TOURNAMENT -->
        <% if Player.where(tournament: @tournament, user: current_user).exists? %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".update">Add Stuff</button>
        <% end %>
    <% end %>



<!-- MODAL UPDATE THE PLAYER IN THE TOURNAMENT -->
<div class="modal fade update  bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <%= render 'form_update' %>
    </div>
  </div>
</div>

<!-- MODAL JOIN THE TOURNAMENT -->
<div class="modal fade  bs-example-modal-lg" id="join-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
     <%= render 'form_join' %>
    </div>
  </div>
</div>




<!-- LIST ALL PLAYERS IN THE TOURNAMENT -->
<h1>Players list:</h1>
<% @tournament.players.each do |player| %>
  <div class="row">
    <div class="col-xs-12">
      <div class="card-show-tournament" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
        <div class="card-show-tournament-category">
          <h4>
          <% if player.user.facebook_picture_url %>
            <% avatar_url = player.user.facebook_picture_url %>
            <%= image_tag avatar_url, class: "avatar-small" %>
          <% end %>
          <%= player.user.username %>
          </h4>
        </div>

        <div class="card-show-tournament-left">
          <% if player.ps4 == true %>
            <span>1 x <%= image_tag "console2.png", class: "icon"%></i>&nbsp;</span>
          <% end %>
          <% if player.controller_ps4 > 0 %>
            <span><%= player.controller_ps4 %> x <%= image_tag "manette.png", class: "icon" %>  </i>&nbsp;</span>
          <% end %>
          <% if player.fifa_game_ps4 > 0 %>
            <span><%= player.fifa_game_ps4 %> x  <%= image_tag "fifa.png", class: "icon" %></span><br>
          <% end %>
        </div>

        <!-- Delete Player -->
        <div class="card-show-tournament-right">
          <% if policy(player).destroy? %>
            <%= link_to image_tag("trash.png"), tournament_player_path(@tournament, player),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
          <% end %>
        </div>

        <% if player.user.uid == "facebook" %>
          <% @friends.each do |friend| %>
            <% if friend["id"] == player.user.uid %>
                <% avatar_url = player.user.facebook_picture_url || "http://placehold.it/30x30" %>
                <%= image_tag avatar_url, class: "avatar dropdown-toggle card-show-tournament-user avatar" %>
                <img src="" alt="">
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </br>
<% end %>



  <!-- TCHAT TOURNAMENT -->
  </br>
  <% if Player.where(tournament: @tournament, user: current_user).exists? %>
    <div id="reviews">
        <h3>Let's chat with other players</h3>
        <div class="message-box">
          <% @tournament.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        </div>
    </div>
    <%= render 'reviews/form', tournament: @tournament, review: @review %>
  <% end %>


  <!-- DESTROY THE TOURNAMENT -->
  <% if policy(@tournament).destroy? %>
    <%= link_to "Delete the tournament", tournament_path(@tournament),
        method: :delete,
        data: { confirm: "Are you sure?" } %>
  <% end %>
