<div class="navbar-wagon navbar-wagon-fixed">
  <!-- Logo -->
<%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "eimeet_logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->

    <%= link_to t(".sign_in", default: "Join"), tournaments_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_in", default: "Create"), bars_path, class: "navbar-wagon-item navbar-wagon-link" %>


    <% if user_signed_in? %>
    <%= link_to t(".sign_in", default: "Tournaments"), bars_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <i class="fa fa-bars"></i>
    <i class="fa fa-times hidden"></i>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center full-screen-menu hidden">
      <div class="links-item">
        <%= link_to t(".sign_in", default: "Join"), tournaments_path, class: "navbar-wagon-item navbar-wagon-link-mobile" %>
      </div>
      <div class="links-item">
        <%= link_to t(".sign_in", default: "Create"), bars_path, class: "navbar-wagon-item navbar-wagon-link-mobile" %>
      </div>
      <% if user_signed_in? %>
      <div class="links-item">
        <%= link_to t(".sign_in", default: "Tournaments"), bars_path, class: "navbar-wagon-item navbar-wagon-link-mobile" %>
      </div>
      <div class="links-item">
        <hr style="border: none; height: 3px; width: 200px;, text-align: center; color: #FAFAFA; background: #FAFAFA;"/>
      </div>
      <div class="links-item">
        <%= link_to destroy_user_session_path, class: "navbar-wagon-item navbar-wagon-link-mobile", method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </div>
      <% else %>
      <div class="links-item">
        <hr style="border: none; height: 3px; width: 200px;, text-align: center; color: #FAFAFA; background: #FAFAFA;"/>
      </div>
      <div class="links-item">
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link-mobile" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
