<div class="fake-height"></div>
<div class="container">
  <div class="row">
  <div class="ranking-header-rank">RANK</div>
  <div class="ranking-header-pts">USERNAME</div>
  <div class="ranking-header-diff">TOTAL GOALS</div>
  <div class="ranking-header-diff">TOTAL AGAINST GOALS</div>
  <div class="ranking-header-bp">TOURNAMENTS WON</div>
  <div class="ranking-header-bp">TOURNAMENTS PLAYED</div>

    <% @users.each_with_index  do |user, index| %>
      <%= index + 1 %> )
      <%= user.username %> |
      <%= user.total_goals %> |
      <%= user.total_against_goals %> |
      <%= user.won_tournaments %> |
     <br>
    <% end %>
  </div>
</div>

