<div class="fake-height"></div>
  <div class="container">
    <div class="rankings">
      <div class="rankings-header">
        <div class="rankings-header-rank">
          RANK
        </div>
         <div class="avatar">
        </div>
        <div class="username">
          NAME
        </div>
        <div class="total-goals">
          GOALS
          <%= link_to rankings_path do %>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="total-against-goals">
          AGAINST GOALS
          <%= link_to rankings_path(sort_by: "total-against-goals") do %>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <% end %>
        </div>
        <div class="won-tournaments">
          WON TOURNAMENTS
          <%= link_to rankings_path(sort_by: "won-tournaments") do %>
            <i class="fa fa-sort-desc" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    </div>
    <div class="rankings">
      <% @users.each_with_index  do |user, index| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="rankings-header">
              <div class="rankings-header-rank">
                <%= index + 1 %>
              </div>
              <div class='avatar'>
                <% if user.facebook_picture_url %>
                <% avatar_url = user.facebook_picture_url %>
                <%= image_tag avatar_url, class: "avatar" %>
                <% else %>
                <%= image_tag "#{user.link}.jpeg", class: "avatar" %>
                <% end %>
              </div>
              <div class="ranking-username">
                <%= user.first_name %>
              </div>
              <div class="ranking-total-goals">
                <%= user.total_goals %>
              </div>
              <div class="ranking-total-against-goals">
                <%= user.total_against_goals %>
              </div>
              <div class="ranking-won-tournaments">
                <%= user.won_tournaments || 0 %>
              </div>
             </div>
          <% end %>
        </div>
        </div>
    </div>
  </div>
